header {
  height: auto;
}

.formulario > div {
  max-width: 500px;
  margin: 0 auto;
}

.formulario input:is([type="text"], [type="password"], [type="email"]) {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.formulario p {
  margin-bottom: 12px;
}

.formulario input[type="radio"] {
    display: inline-block;
    margin: 0 4px;
}

.formulario input[type="submit"] {
  width: 100%;
  background-color: #e0dd28;
  color: black;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario input[type="submit"]:hover {
  background-color: rgb(208, 202, 38);
}
